<div>
  <div class="main">
    <p>
      This is a Powerful Budgeting app built by
      <a href="https://www.jack-kawell.com" target="_blank" rel=noopener>Jack Kawell</a>. The
      frontend is built with Angular and the api consists of a webserver
      written with Node.js and a database running on Postgres. The whole thing is
      hosted in a Docker microservices fleet.
    </p>
    <p>
      Feel free to play around with it! If you want to checkout or contribute to
      the source code, you can find it all
      <a href="https://github.com/jgkawell/power-budget" target="_blank" rel=noopener>here</a>.
    </p>
    <p>
      Icons made by
      <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead"
        >Payungkead</a
      >
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
  </div>
</div>
