<div [ngClass]="setClasses()">
  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Purpose</th>
      <th>Account</th>
      <th>Budget</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>{{ debit.posted_date.toLocaleDateString('en-US') }}</td>
      <td>${{ debit.amount }}</td>
      <td>{{ debit.vendor }}</td>
      <td>{{ debit.purpose }}</td>
      <td>{{ debit.account_id }}</td>
      <td>{{ debit.budget }}</td>
      <td>{{ debit.notes }}</td>
    </tr>
  </table>
  <p>
    <button (click)="onDelete(debit)" class="del">x</button>
  </p>
</div>
