.del {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  background-color:#101010;
}

th, td {
  padding: 10px;
}

.is-complete {
  text-decoration: line-through;
}
